.el-header{
  text-align: center;
  background-image: linear-gradient(to bottom right, #f9a7a7, #66b1ff);
  background-color: #e6e6e6;
  padding: 25px;
  /*left: 0px;*/
  /*right: 0px;*/
  /*width: 100%;*/
  font-family: '华文行楷';
  font-size: 1.5em;
  margin-top: 0;

}
